# Preprocessing of data

In [161]:
import numpy as np
import pandas as pd
from datetime import datetime
import re
from tqdm import tqdm

In [38]:
NEWS_FILE = '../../data/raw/investments_news_tweet.csv'
STOCK_FILE = '../../data/raw/cac40_2010_2021.csv'

In [39]:
stock_df = pd.read_csv(STOCK_FILE)

In [40]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3019 entries, 0 to 3018
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      3019 non-null   object
 1   Price     3019 non-null   object
 2   Open      3019 non-null   object
 3   High      3019 non-null   object
 4   Low       3019 non-null   object
 5   Vol.      3019 non-null   object
 6   Change %  3019 non-null   object
dtypes: object(7)
memory usage: 165.2+ KB

In [41]:
stock_df['Date'] = stock_df['Date'].apply(lambda x: datetime.strptime(x, '%b %d, %Y'))
stock_df['Date'] = pd.to_datetime(stock_df['Date'])

In [42]:
stock_df

           Date     Price      Open      High       Low     Vol. Change %
0    2021-10-15  6,727.52  6,714.26  6,746.81  6,703.26   84.11M    0.63%
1    2021-10-14  6,685.21  6,651.18  6,692.94  6,618.79   71.37M    1.33%
2    2021-10-13  6,597.38  6,539.61  6,606.36  6,510.27   75.94M    0.75%
3    2021-10-12  6,548.11  6,495.15  6,548.11  6,491.58   70.00M   -0.34%
4    2021-10-11  6,570.54  6,546.07  6,574.22  6,522.55   68.97M    0.16%
...         ...       ...       ...       ...       ...      ...      ...
3014 2010-01-08  4,045.14  4,042.64  4,051.41  4,013.34  131.78M    0.51%
3015 2010-01-07  4,024.80  4,005.96  4,032.24  3,983.90  118.43M    0.18%
3016 2010-01-06  4,017.67  4,014.45  4,022.94  3,996.80  110.09M    0.12%
3017 2010-01-05  4,012.91  4,012.43  4,028.34  3,993.33  129.52M   -0.03%
3018 2010-01-04  4,013.97  3,952.21  4,013.97  3,950.61  113.40M    1.97%

[3019 rows x 7 columns]

In [43]:
stock_df['Vol.'] = stock_df['Vol.'].apply(lambda x: float(x[:-1]) * 1000000)

In [44]:
stock_df

           Date     Price      Open      High       Low         Vol. Change %
0    2021-10-15  6,727.52  6,714.26  6,746.81  6,703.26   84110000.0    0.63%
1    2021-10-14  6,685.21  6,651.18  6,692.94  6,618.79   71370000.0    1.33%
2    2021-10-13  6,597.38  6,539.61  6,606.36  6,510.27   75940000.0    0.75%
3    2021-10-12  6,548.11  6,495.15  6,548.11  6,491.58   70000000.0   -0.34%
4    2021-10-11  6,570.54  6,546.07  6,574.22  6,522.55   68970000.0    0.16%
...         ...       ...       ...       ...       ...          ...      ...
3014 2010-01-08  4,045.14  4,042.64  4,051.41  4,013.34  131780000.0    0.51%
3015 2010-01-07  4,024.80  4,005.96  4,032.24  3,983.90  118430000.0    0.18%
3016 2010-01-06  4,017.67  4,014.45  4,022.94  3,996.80  110090000.0    0.12%
3017 2010-01-05  4,012.91  4,012.43  4,028.34  3,993.33  129520000.0   -0.03%
3018 2010-01-04  4,013.97  3,952.21  4,013.97  3,950.61  113400000.0    1.97%

[3019 rows x 7 columns]

In [45]:
stock_df['Change %'] = stock_df['Change %'].apply(lambda x: float(x[:-1]))

In [46]:
stock_df

           Date     Price      Open      High       Low         Vol.  Change %
0    2021-10-15  6,727.52  6,714.26  6,746.81  6,703.26   84110000.0      0.63
1    2021-10-14  6,685.21  6,651.18  6,692.94  6,618.79   71370000.0      1.33
2    2021-10-13  6,597.38  6,539.61  6,606.36  6,510.27   75940000.0      0.75
3    2021-10-12  6,548.11  6,495.15  6,548.11  6,491.58   70000000.0     -0.34
4    2021-10-11  6,570.54  6,546.07  6,574.22  6,522.55   68970000.0      0.16
...         ...       ...       ...       ...       ...          ...       ...
3014 2010-01-08  4,045.14  4,042.64  4,051.41  4,013.34  131780000.0      0.51
3015 2010-01-07  4,024.80  4,005.96  4,032.24  3,983.90  118430000.0      0.18
3016 2010-01-06  4,017.67  4,014.45  4,022.94  3,996.80  110090000.0      0.12
3017 2010-01-05  4,012.91  4,012.43  4,028.34  3,993.33  129520000.0     -0.03
3018 2010-01-04  4,013.97  3,952.21  4,013.97  3,950.61  113400000.0      1.97

[3019 rows x 7 columns]

In [47]:
stock_df['Price'] = stock_df['Price'].apply(lambda x: float(x.replace(',', '')))

In [48]:
stock_df

           Date    Price      Open      High       Low         Vol.  Change %
0    2021-10-15  6727.52  6,714.26  6,746.81  6,703.26   84110000.0      0.63
1    2021-10-14  6685.21  6,651.18  6,692.94  6,618.79   71370000.0      1.33
2    2021-10-13  6597.38  6,539.61  6,606.36  6,510.27   75940000.0      0.75
3    2021-10-12  6548.11  6,495.15  6,548.11  6,491.58   70000000.0     -0.34
4    2021-10-11  6570.54  6,546.07  6,574.22  6,522.55   68970000.0      0.16
...         ...      ...       ...       ...       ...          ...       ...
3014 2010-01-08  4045.14  4,042.64  4,051.41  4,013.34  131780000.0      0.51
3015 2010-01-07  4024.80  4,005.96  4,032.24  3,983.90  118430000.0      0.18
3016 2010-01-06  4017.67  4,014.45  4,022.94  3,996.80  110090000.0      0.12
3017 2010-01-05  4012.91  4,012.43  4,028.34  3,993.33  129520000.0     -0.03
3018 2010-01-04  4013.97  3,952.21  4,013.97  3,950.61  113400000.0      1.97

[3019 rows x 7 columns]

In [49]:
stock_df['Open'] = stock_df['Open'].apply(lambda x: float(x.replace(',', '')))

In [50]:
stock_df

           Date    Price     Open      High       Low         Vol.  Change %
0    2021-10-15  6727.52  6714.26  6,746.81  6,703.26   84110000.0      0.63
1    2021-10-14  6685.21  6651.18  6,692.94  6,618.79   71370000.0      1.33
2    2021-10-13  6597.38  6539.61  6,606.36  6,510.27   75940000.0      0.75
3    2021-10-12  6548.11  6495.15  6,548.11  6,491.58   70000000.0     -0.34
4    2021-10-11  6570.54  6546.07  6,574.22  6,522.55   68970000.0      0.16
...         ...      ...      ...       ...       ...          ...       ...
3014 2010-01-08  4045.14  4042.64  4,051.41  4,013.34  131780000.0      0.51
3015 2010-01-07  4024.80  4005.96  4,032.24  3,983.90  118430000.0      0.18
3016 2010-01-06  4017.67  4014.45  4,022.94  3,996.80  110090000.0      0.12
3017 2010-01-05  4012.91  4012.43  4,028.34  3,993.33  129520000.0     -0.03
3018 2010-01-04  4013.97  3952.21  4,013.97  3,950.61  113400000.0      1.97

[3019 rows x 7 columns]

In [51]:
stock_df['High'] = stock_df['High'].apply(lambda x: float(x.replace(',', '')))

In [52]:
stock_df

           Date    Price     Open     High       Low         Vol.  Change %
0    2021-10-15  6727.52  6714.26  6746.81  6,703.26   84110000.0      0.63
1    2021-10-14  6685.21  6651.18  6692.94  6,618.79   71370000.0      1.33
2    2021-10-13  6597.38  6539.61  6606.36  6,510.27   75940000.0      0.75
3    2021-10-12  6548.11  6495.15  6548.11  6,491.58   70000000.0     -0.34
4    2021-10-11  6570.54  6546.07  6574.22  6,522.55   68970000.0      0.16
...         ...      ...      ...      ...       ...          ...       ...
3014 2010-01-08  4045.14  4042.64  4051.41  4,013.34  131780000.0      0.51
3015 2010-01-07  4024.80  4005.96  4032.24  3,983.90  118430000.0      0.18
3016 2010-01-06  4017.67  4014.45  4022.94  3,996.80  110090000.0      0.12
3017 2010-01-05  4012.91  4012.43  4028.34  3,993.33  129520000.0     -0.03
3018 2010-01-04  4013.97  3952.21  4013.97  3,950.61  113400000.0      1.97

[3019 rows x 7 columns]

In [53]:
stock_df['Low'] = stock_df['Low'].apply(lambda x: float(x.replace(',', '')))

In [54]:
stock_df

           Date    Price     Open     High      Low         Vol.  Change %
0    2021-10-15  6727.52  6714.26  6746.81  6703.26   84110000.0      0.63
1    2021-10-14  6685.21  6651.18  6692.94  6618.79   71370000.0      1.33
2    2021-10-13  6597.38  6539.61  6606.36  6510.27   75940000.0      0.75
3    2021-10-12  6548.11  6495.15  6548.11  6491.58   70000000.0     -0.34
4    2021-10-11  6570.54  6546.07  6574.22  6522.55   68970000.0      0.16
...         ...      ...      ...      ...      ...          ...       ...
3014 2010-01-08  4045.14  4042.64  4051.41  4013.34  131780000.0      0.51
3015 2010-01-07  4024.80  4005.96  4032.24  3983.90  118430000.0      0.18
3016 2010-01-06  4017.67  4014.45  4022.94  3996.80  110090000.0      0.12
3017 2010-01-05  4012.91  4012.43  4028.34  3993.33  129520000.0     -0.03
3018 2010-01-04  4013.97  3952.21  4013.97  3950.61  113400000.0      1.97

[3019 rows x 7 columns]

In [55]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3019 entries, 0 to 3018
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      3019 non-null   datetime64[ns]
 1   Price     3019 non-null   float64
 2   Open      3019 non-null   float64
 3   High      3019 non-null   float64
 4   Low       3019 non-null   float64
 5   Vol.      3019 non-null   float64
 6   Change %  3019 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 165.2 KB

In [56]:
stock_df.to_csv('../../data/processed/stocks.csv')

## Tweets

In [124]:
news_df = pd.read_csv(NEWS_FILE)

C:\Users\avomo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [125]:
news_df.head()

,Unnamed: 0,_type,url,date,content,renderedContent,id,user,replyCount,retweetCount,...,media,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags
0,0,snscrape.modules.twitter.Tweet,https://twitter.com/InvestirFr/status/14490615...,2021-10-15T17:16:09+00:00,40.000 nouveaux actionnaires individuels https...,40.000 nouveaux actionnaires individuels trib....,1449061547381334020,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,snscrape.modules.twitter.Tweet,https://twitter.com/InvestirFr/status/14490499...,2021-10-15T16:30:06+00:00,[Agenda] Retrouvez les grands rendez-vous de l...,[Agenda] Retrouvez les grands rendez-vous de l...,1449049956275429384,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,snscrape.modules.twitter.Tweet,https://twitter.com/InvestirFr/status/14490451...,2021-10-15T16:10:49+00:00,"ClÃ´ture : encourageant, le dÃ©but de la saison ...","ClÃ´ture : encourageant, le dÃ©but de la saison ...",1449045103218249736,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,snscrape.modules.twitter.Tweet,https://twitter.com/InvestirFr/status/14490197...,2021-10-15T14:30:15+00:00,"AprÃ¨s plusieurs semaines de rumeurs, la minist...","AprÃ¨s plusieurs semaines de rumeurs, la minist...",1449019797627363329,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,snscrape.modules.twitter.Tweet,https://twitter.com/InvestirFr/status/14490184...,2021-10-15T14:25:00+00:00,Lâ€™action Pizzorno Environnement grimpe dÃ©sorma...,Lâ€™action Pizzorno Environnement grimpe dÃ©sorma...,1449018475578593281,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
news_df.columns

Index(['Unnamed: 0', '_type', 'url', 'date', 'content', 'renderedContent',
       'id', 'user', 'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel',
       'outlinks', 'tcooutlinks', 'media', 'retweetedTweet', 'quotedTweet',
       'inReplyToTweetId', 'inReplyToUser', 'mentionedUsers', 'coordinates',
       'place', 'hashtags', 'cashtags'],
      dtype='object')

In [127]:
news_df = news_df[['date', 'content', 'renderedContent', 'replyCount', 'retweetCount', 'likeCount', 'quoteCount']]

In [128]:
news_df

,date,content,renderedContent,replyCount,retweetCount,likeCount,quoteCount
0,2021-10-15T17:16:09+00:00,40.000 nouveaux actionnaires individuels https...,40.000 nouveaux actionnaires individuels trib....,0,0,3,0
1,2021-10-15T16:30:06+00:00,[Agenda] Retrouvez les grands rendez-vous de l...,[Agenda] Retrouvez les grands rendez-vous de l...,0,0,0,0
2,2021-10-15T16:10:49+00:00,"ClÃ´ture : encourageant, le dÃ©but de la saison ...","ClÃ´ture : encourageant, le dÃ©but de la saison ...",0,1,2,0
3,2021-10-15T14:30:15+00:00,"AprÃ¨s plusieurs semaines de rumeurs, la minist...","AprÃ¨s plusieurs semaines de rumeurs, la minist...",0,0,3,0
4,2021-10-15T14:25:00+00:00,Lâ€™action Pizzorno Environnement grimpe dÃ©sorma...,Lâ€™action Pizzorno Environnement grimpe dÃ©sorma...,0,0,1,0
...,...,...,...,...,...,...,...
57992,2010-01-19T17:05:18+00:00,"Paris : Le Cac 40 termine en hausse de 0,81 % ...","Paris : Le Cac 40 termine en hausse de 0,81 % ...",0,0,0,0
57993,2010-01-19T16:36:04+00:00,Or : LÃ©ger repli de l'once: http://bit.ly/6h5mX0,Or : LÃ©ger repli de l'once: http://bit.ly/6h5mX0,0,0,0,0
57994,2010-01-19T15:05:29+00:00,Analyses et opinions : Nos engagements pour 20...,Analyses et opinions : Nos engagements pour 20...,0,0,0,0
57995,2010-01-19T14:34:52+00:00,Paris : Le Cac 40 reprend son souffle aprÃ¨s un...,Paris : Le Cac 40 reprend son souffle aprÃ¨s un...,0,0,0,0
57996,2010-01-19T12:33:40+00:00,Or : L'once peu changÃ©e au premier fixing: ht...,Or : L'once peu changÃ©e au premier fixing: ht...,0,0,0,0

In [129]:
def clean_stock_data(stock_df):
    #process the date
    stock_df['Date'] = stock_df['Date'].apply(lambda x: datetime.strptime(x, '%b %d, %Y'))
    stock_df['Date'] = pd.to_datetime(stock_df['Date'])
    
    #process the volume
    stock_df['Vol.'] = stock_df['Vol.'].apply(lambda x: float(x[:-1]) * 1000000)
    
    #process percentage
    stock_df['Change %'] = stock_df['Change %'].apply(lambda x: float(x[:-1]))
    
    #process numerical data
    stock_df['Price'] = stock_df['Price'].apply(lambda x: float(x.replace(',', '')))
    stock_df['Open'] = stock_df['Open'].apply(lambda x: float(x.replace(',', '')))
    stock_df['High'] = stock_df['High'].apply(lambda x: float(x.replace(',', '')))
    stock_df['Low'] = stock_df['Low'].apply(lambda x: float(x.replace(',', '')))
    
    return stock_df

In [130]:
def remove_unused_columns(news_data):
    columns_list = ['date', 'content', 'replyCount', 'retweetCount', 'likeCount', 'quoteCount']
    news_data = news_data[columns_list]
    return news_data

def clean(text):
    text = str(text)
    text = text.lower()
    text = re.sub('http\S+', '', text)
    text = text.replace('...', '')
    text = text.replace('..', '')
    text = re.sub(r'\(([^)]+)\)', " ", text)
    #text = re.sub(r'[^a-zA-Z ]+', ' ', text)
    text = re.sub(r' \w{1,2}_', ' ', text)
    text = re.sub('\s+',' ', text)
    return text

In [136]:
news_df = remove_unused_columns(news_df)

In [137]:
news_df['content'].apply(clean)

0                40.000 nouveaux actionnaires individuels
1        [agenda] retrouvez les grands rendez-vous de l...
2        clÃ´ture : encourageant, le dÃ©but de la saison ...
3        aprÃ¨s plusieurs semaines de rumeurs, la minist...
4        lâ€™action pizzorno environnement grimpe dÃ©sorma...
                               ...
57992    paris : le cac 40 termine en hausse de 0,81 % ...
57993                         or : lÃ©ger repli de l'once:
57994    analyses et opinions : nos engagements pour 20...
57995    paris : le cac 40 reprend son souffle aprÃ¨s un...
57996          or : l'once peu changÃ©e au premier fixing:
Name: content, Length: 57997, dtype: object

In [138]:
news_df['date'] = pd.to_datetime(news_df['date'])

In [139]:
news_df['date'] = news_df['date'].apply(lambda x: x.date())

In [141]:
news_df = news_df[['date', 'content']]

In [142]:
news_df

             date                                            content
0      2021-10-15  40.000 nouveaux actionnaires individuels https...
1      2021-10-15  [Agenda] Retrouvez les grands rendez-vous de l...
2      2021-10-15  ClÃ´ture : encourageant, le dÃ©but de la saison ...
3      2021-10-15  AprÃ¨s plusieurs semaines de rumeurs, la minist...
4      2021-10-15  Lâ€™action Pizzorno Environnement grimpe dÃ©sorma...
...           ...                                                ...
57992  2010-01-19  Paris : Le Cac 40 termine en hausse de 0,81 % ...
57993  2010-01-19  Or : LÃ©ger repli de l'once:  http://bit.ly/6h5mX0
57994  2010-01-19  Analyses et opinions : Nos engagements pour 20...
57995  2010-01-19  Paris : Le Cac 40 reprend son souffle aprÃ¨s un...
57996  2010-01-19  Or : L'once peu changÃ©e au premier fixing:  ht...

[57997 rows x 2 columns]

In [146]:
news_date = news_df.groupby('date')['content'].agg(lambda x: '.'.join(x.values.tolist()))

In [147]:
news_date

date
2010-01-19    Paris ClÃ´ture : Le Cac 40 repasse au-dessus de...
2010-01-20    Paris ClÃ´ture : Les financiÃ¨res et les crainte...
2010-01-21    Paris ClÃ´ture : Nouvelle sÃ©ance de consolidati...
2010-01-22    RÃ©tro de la semaine : Le Cac 40 Ã  la peine, pl...
2010-01-25    Paris ClÃ´ture : Paris au plus bas depuis plus ...
                                    ...
2021-10-11    ClÃ´ture : Ã©chaudÃ©s par la hausse des prix des ...
2021-10-12    ClÃ´ture : le scÃ©nario est identique depuis plu...
2021-10-13    Les informations selon lesquelles Volkswagen e...
2021-10-14    BOUYGUES : Bouygues : objet boursier mal ident...
2021-10-15    40.000 nouveaux actionnaires individuels https...
Name: content, Length: 3542, dtype: object

In [149]:
news_date.to_csv('../../data/processed/news_date.csv')

In [152]:
stock_df  = stock_df[['Date', 'Price']]
stock_df.columns = ['date', 'Price']

In [153]:
stock_df

           date    Price
0    2021-10-15  6727.52
1    2021-10-14  6685.21
2    2021-10-13  6597.38
3    2021-10-12  6548.11
4    2021-10-11  6570.54
...         ...      ...
3014 2010-01-08  4045.14
3015 2010-01-07  4024.80
3016 2010-01-06  4017.67
3017 2010-01-05  4012.91
3018 2010-01-04  4013.97

[3019 rows x 2 columns]

In [154]:
from vaderSentiment_fr.vaderSentiment import SentimentIntensityAnalyzer

C:\Users\avomo\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [159]:
new_words = {'chute': -9, 'tomber': -9, 'laisser': -9, 'descendre': -9, 'monter': 9, 'hausse': 9, 'gain': 9, 'gagner': 9,
             'Ã©levation': -9, 'baisse': -9, 'tremplin': -9, 'refuser': -9, 'dÃ©clin': -9, 'saut': 9, 'grimper': 9,
            'rabattre': -9, 'hikes': -9, 'jumps': 9, 'perdre': -9, 'profit': 9, 'perte': -9, 'dÃ©truit': -9, 'vendre': -9, 'acheter': 9,
             'rÃ©cession': -9,
'affaiblissement': -9, 'perte record': -9, 'hausse record': 9, 'hausse du cac 40': 9, 'cac 40 chute': -9, 'euro chute': -9, 'montÃ©e de l euro': 9}


SIA = SentimentIntensityAnalyzer()

SIA.lexicon.update(new_words)

In [157]:
phrase = "Une phrase trÃ¨s cool Ã  analyser"

score = SIA.polarity_scores(phrase)

In [165]:
news_date = news_date.to_frame()

In [169]:
#news_date['date'] = news_date.index
news_date.reset_index(drop=True, inplace=True)
news_date

                                                content        date
0     Paris ClÃ´ture : Le Cac 40 repasse au-dessus de...  2010-01-19
1     Paris ClÃ´ture : Les financiÃ¨res et les crainte...  2010-01-20
2     Paris ClÃ´ture : Nouvelle sÃ©ance de consolidati...  2010-01-21
3     RÃ©tro de la semaine : Le Cac 40 Ã  la peine, pl...  2010-01-22
4     Paris ClÃ´ture : Paris au plus bas depuis plus ...  2010-01-25
...                                                 ...         ...
3537  ClÃ´ture : Ã©chaudÃ©s par la hausse des prix des ...  2021-10-11
3538  ClÃ´ture : le scÃ©nario est identique depuis plu...  2021-10-12
3539  Les informations selon lesquelles Volkswagen e...  2021-10-13
3540  BOUYGUES : Bouygues : objet boursier mal ident...  2021-10-14
3541  40.000 nouveaux actionnaires individuels https...  2021-10-15

[3542 rows x 2 columns]

In [170]:
for i in tqdm(news_date.itertuples()):
    score = SIA.polarity_scores(news_date.iloc[i[0]]['content'])
    news_date.at[i[0], 'score'] = score['compound']
    if score['compound'] >= 0:
        news_date.at[i[0], 'sentiment'] = 1
    else:
       news_date.at[i[0], 'sentiment'] = -1

3542it [00:39, 90.72it/s]

In [172]:
news_date.to_csv('../../data/processed/news_classified.csv')